.carousel-container {
    margin-bottom: 200px; 
    display: flex;
    flex-direction: column;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

.container {
    position: absolute;
    z-index: 1;
}

.carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 700px;
    border-radius: 70px;
}

h5 {
    font-weight: bold;
}

h5, p {
    color: rgb(0, 0, 0);
}

.center-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    height: auto;
    z-index:10; 
}

.carousel-control-prev {
    left: 450px; 
}

.carousel-control-next {
    right: 450px; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%; 
}
.label1{
    text-align: center;
    justify-content: center;
    margin:0;
    font-size: 50px;
    font-weight: bold;
}