.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

::placeholder {
    color: rgb(0, 0, 0);
}

.form__input-container,
.form__input-checkbox,
.form__button-container {
    width: 100%;
    max-width: 500px;
    margin: 50px 0;
}

.login_form_input {
    font-weight: bold;
    border-radius: 75px;
    background: linear-gradient(to bottom right, #03ffff, #04f799);
    box-shadow: 0px 0px 1px 5px rgb(12, 8, 8);
    border: transparent;
}

.login_form_input,
.login_form_input_checkbox {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

p {
    margin-top: 20px;
    margin-bottom: -20px;
}

.btn-primary {
    font-weight: bold;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 75px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 1px 2px rgb(12, 8, 8);
}

.form__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.form__input-checkbox h6 {
    margin: 0;
    padding-left: 10px;
}

.form__input-checkbox input {
    width: auto;
}

.btn-primary {
    color: #0f0d0d;
    background: linear-gradient(to bottom right, #03ffff, #04f799);
    border-color: #0f0d0f;
}

.btn-primary:hover {
    color: #f8f7f7;
    background-color: #04f7ba;
    border-color: #0f0d0d;
}


.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 3px rgba(35, 193, 241, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #08e2ff;
    border-color: #08e2ff;
}

.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    background-color: #04f799;
    background-image: none;
    border-color: #0f0d0d;
}


@media (max-width: 600px) {
    .login_form {
        padding: 20px;
    }

    .form__input-container,
    .form__input-checkbox,
    .form__button-container {
        width: 100%;
        margin: 15px 0;
    }

    .btn-primary {
        width: 100%;
    }
}

@media (min-width: 600px) {
    .login_form {
        padding: 30px;
    }

    .form__input-container,
    .form__input-checkbox,
    .form__button-container {
        width: 80%;
        margin: 20px 0;
    }

    .btn-primary {
        width: 80%;
    }
}